<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template-default</title>
</head>

<body style="margin: 0;
             padding: 0;
             box-sizing: border-box;
             display: flex;
             justify-content: center;
             align-items: center;
             font-family: Verdana, Geneva, Tahoma, sans-serif;">
    <table style="width: 600px;">
        <tr>
            <td style="
                       margin: 16px 32px;
                       display: flex;
                       justify-content: space-between;
                       align-items: center;">

                <h1>Template de email Padrão</h1>
                <img src="https://img.freepik.com/vetores-premium/logotipo-generico-do-cubo_9569-169.jpg"
                    style="width: 100px; height: auto;" alt="img logo">
            </td>
        </tr>
        <tr>
            <td style="
             border-top: 1px solid #000; 
             border-bottom: 1px solid #000; 
             width: 100%;
             display: flex;
             justify-content: space-between;
             align-items: center;">
                <p>Newletter</p>
                <p>22/06</p>
            </td>
        </tr>
        <tr>
            <td style="margin: 10px;">Olá meu nome é {{name}}, deixei essa mensagem no seu email, 
                {{message}} , para me responder use o meu
                email, {{email}}</td>
        </tr>
    </table>
</body>

</html>