* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
.contact-container,
form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

